@{
    Layout = null;
}

<div>
    <button id="users" onclick="users()">Show users</button>
    <button id="addUser" onclick="addUser()">Add user</button>
    <button id="awards" onclick="awards()">Show awards</button>
    <button id="addaward" onclick="addAward()">Add award</button>
</div>
